/* Grundlayout */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
    background-image: url('hintergrundbildeingeloggt.jpg');
    max-height: 100%;
  }
  
  #app {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Halbtransparente schwarze Schicht */
    z-index: -1;
  }
  
  header {
    background-color: #771e27;
    color: white;
    padding: 15px;
    text-align: center;
    margin-top: 100px;
  }
  
  header h1 {
    margin: 0;
    
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  #slider-container {
    position: relative;
    width: 300px;
    height: 400px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  #movie-slider {
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  .movie-card {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform-origin: center;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .movie-card img {
    width: 80%;
    height: 70%;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .movie-card h3 {
    font-size: 1.2em;
    margin: 0;
  }
  
  #controls {
    margin-top: 20px;
    display: flex;
    gap: 20px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  #reject-button {
    background-color: #771e27;
    color: white;
    width: 100px;
  }
  
  #reject-button:hover {
    background-color: #c82333;
  }
  
  #accept-button {
    background-color: #105a21;
    color: white;
    width: 100px;
  }
  
  #accept-button:hover {
    background-color: #218838;
  }
  